<div id="<%= dom_id tag %>">
  <p>
    <strong>Name:</strong>
    <%= tag.name %>
  </p>

  <% tag.taggables.each do |taggable| %>
    <h2>Events:</h2>
    <%= render 'articles/article',article: taggable.article %>
    <%= link_to "Read More" ,taggable.article %>
    <hr/>
  <% end %>
</div>
